<nav class="header">
  <ul class="left">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  <ul class="right">
    <li class="dropdown">
      <a href="#">Notes</a>
      <ul class="internal">
        <li><a href="/note/index">Index</a></li>
        <li><a href="/note/create">New</a></li>
      </ul>
    </li>
    <li><a href="/user/signin">login</a></li>
    <li><a href="/user/signup">register</a></li>
  </ul>
</nav>
