<div class="container">
  <section class="title">
    <h4>Crear nota</h4>
  </section>
  <section>
    <form action="/note" method="POST">
      <div class="input">
        <input type="text" name="title">
      </div>
      <div class="input">
        <textarea name="description" cols="30" rows="10"></textarea>
      </div>
      <div class="input">
        <button>guardar</button>
      </div>
    </form>
  </section>
</div>
