<div class="container">
  <section class="title">
    <h4>Iniciar session</h4>
  </section>
  <section>
    <form action="/user/signin" method="POST">
      <div class="input">
        <input type="text"
               name="email"
               value="{{email}}"
               placeholder="Email">
      </div>
      <div class="input">
        <input type="password"
               name="password"
               placeholder="Contrasenia">
      </div>
      <div class="input">
        <button>entrar</button>
      </div>
    </form>
  </section>
</div>
